<div class="detail">
<h3>プロジェクト詳細</h3>
</div>
  <div class="project1">
      <p><%= @project.about %></p>
      <p><%= @project.successfailure %></p>
      <p><%= @project.lesson %></p>

                    <div class="post2-2"> 
                    <object data="<%= @project.pdf.url %>" type="application/pdf" width="500" height="800"></object>
                    </div>
      </a>
      <p><%= @project.created_at %></p>
        <% if user_signed_in? %>
          <% if current_user.already_liked?(@project) %>
            <%= link_to project_like_path(@project), method: :delete do %>
              <i class="fas fa-heart"></i><%= @project.likes.count %>
            <% end %>
          <% else %>
            <%= link_to project_likes_path(@project), method: :post do %>
              <i class="far fa-heart"></i><%= @project.likes.count %>
            <% end %>
          <% end %>
        <% else %>
          <p>いいねの数 = </p><%= @project.likes.count %>
        <% end %>
    <%= link_to "編集する", edit_project_path(@project.id) %>
    

    <h2>いいねしたユーザー</h2>

    <% @project.liked_users.each do |user| %>
      <li><%= user.email %></li>
    <% end %>
    <div class="comment-wrapper">
      <p>コメント一覧</p>
      <% @comments.each do |c| %>
        <div>
          <%= c.user.email unless c.user.blank? %>
          <br>
          <%= c.content %>
        </div>
          <br>
      <% end %>

      <% if user_signed_in? %>
        <%= form_with(model: [@project, @comment], local: true) do |f| %>
          <%= f.text_area :content %>
            <%= button_tag type: "submit" do %>
              <i class="far fa-comments"></i> コメントする
            <% end %>
        <% end %>
      <% end %>
    </div>

    <h1>ユーザー詳細ページ</h1>

    <style>
    .user-in{
        width:300px;
        padding:10px;
        margin:10px;
        text-align:center;
        border:1px solid darkgray;
        background-color:gainsboro;
    }
    </style>
    <%= link_to "プロジェクト一覧に戻る", projects_path %>
  </div>