<div class="dmapuri_area">
  <div class="dmapuri">
    <div class="title_area">
      <div class="title">
        <h1>トークルーム</h1>
      </div>
    </div>
    
    <% @entries.each do |e| %>
        <h3><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%></a></strong></h3>
    <% end %>
   
  </div>

<div class="massage_area">
      <div class="massage">
        <% if @messages.present? %>
            <% @messages.each do |m| %>
            <% if current_user.id == m.user_id %>
                <div class="massage1">
                <strong><%= m.body %><br></strong>
                </div>
            <% else %>
            <div class="hojo">
                <a href="/users/<%= m.user_id %>"><%= m.user.name %></a>
            </div>
                <div class="massage2">
                <strong><%= m.body %></strong>
                </div>
            <% end %>
            <% end %>
        <% else %>
            <h3 class="text-center">メッセージはまだありません</h3>
        <% end %>
      </div>
    </div>
    <%= form_for @message do |f| %>
      <div class="post_area1">
        <%= f.text_field :body, class: "field_input", :placeholder => "メッセージを入力" %>
        <%= f.hidden_field :room_id, :value => @room.id %>
        <div class="pst_button">
          <%= button_tag type: "submit" do %>
            <i class="fa-solid fa-paper-plane fa-3x" style="color:blue;"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<a href="/projects/" class="btn03 pushright"><span>一覧に戻る</span></a>

</div>